.grey {
	height: 10em;
	width: 10em;
	background: grey;
	margin: 10px;
}
.red {
	height: 10em;
	width: 10em;
	background: red;
	margin: 10px;
}

.green {
	height: 10em;
	width: 10em;
	background: green;
	margin: 10px;
}